/* *{
    margin:0;
    padding:0
    - it'll zero out everything
}  */

/* we'd get categories a , just to target all the 
categories in the doc. global styles */
a{
    text-decoration:none;
    color: black;
}
/* they've different states like hover etc.*/
a:hover{
    color:red; 
}
a:active{
    color:green;
}

.button{
    background-color: #333;
    color: #fff;
    padding:10px 15px;
    border:none;
    border-radius:15px;
}
.button:hover{
    background:red;
    color : #fff;
}

.clr{
    clear:both;
}

body{
    background-color: #f4f4f4 ; 
    color:#555555;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:bold;
    /* same as above
    font : normal 16px Arial, Helvetica, sans-serif
    */
    line-height:1.6em;
    margin:0;
}

.container{
    width:80%;
    margin:auto;
}


/* to target a class we use . */
.box-1{
   background-color : #333333; 
   color:#ffffff;

   /* longer way:
   border-right:5px rgba(255, 0, 0, 0.038) solid;
   border-left:5px rgba(255, 0, 0, 0.038) solid;
   border-top:5px rgba(255, 0, 0, 0.038) solid;
   border-bottom:5px rgba(255, 0, 0, 0.038) solid;
   shorter way */  
   border: 5px red solid;
   border-width:3px;
   border-bottom-width:10px;
   border-top-style:dotted;

  /* padding-top:20px;
   padding-bottom:20px;
   padding-right:20px;
   padding-left:20px;  */

   padding:20px;

   /* margin-top:20px;
   margin-right:20px;
   margin-left:20px;
   margin-bottom:20px; */
   margin:20px 0; 
}

.box-1 h1{
    font-family:Tahoma;
    font-weight:800;
    font-style:italic;
    text-decoration:underline;
    text-transform:uppercase;
    letter-spacing:0.2em;
    word-spacing:1em;
}

.box-2{
    border:3px dotted #ccc;
    background-color:black;
    padding:20px;
    margin:20px 0;
}

.categories{
    border:1px #ccc solid;
    padding:10px;
    border-radius:15px;
    /*  border-radius:15px; --> it gives round edges */ 
}

.categories h2{
    text-align:center;
}
.categories ul{
    /* ul's by default has padding*/
    padding:0;
    padding-left:20px;
    list-style:none;
     
}

.categories li{
    padding-bottom:6px;
    border-bottom:dotted 1px #333;
    list-style-image: url('../images/check.png')
}

.Myform{
    padding:20px;

}

.Myform form-group{
    padding-bottom:15px;
}

.Myform label{
    display:block;
}
.Myform input[type="text"], .Myform textarea {
    padding:8px;
    width:100%; 
}
.block{
    float:left;
    width:33.3%;
    border:1px solid #ccc;
    padding:10px;
    box-sizing: border-box;
}

#main-block{
    float:left;
    width:70%;
}

#sidebar{
    float:right;
    width:30%;
    background-color:#333;
    color:#ffff;
    padding:15px;
    box-sizing:border-box;
}

.p-box{
    width:800px;
    height:500px;
    border:1px solid #000;
    margin-top:30px;
    position:relative;
    background-image:url('../images/bgimage.jgp');
    background-repeat: no-repeat;
    background-position:100px 200px;
    background-position:center center;
}

.p-box h1{
    position:absolute;
    top:100px;
    left:200px;
}
.p-box h2{
    position:absolute;
    bottom:40px;
    right:100px;
}
.fix-me{
    position:fixed;
    top:400px;
}

.mylist li:first-child{
    background:red;
}
.mylist li:last-child{
    background:blue;
}
.mylist li:nth-child(5){
    background:yellow;
}
.mylist li:nth-child(even){
    background:gray;
}
